<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
    <link rel="stylesheet" href="css/meishi.css" />
    <link rel="stylesheet" href="layui/css/layui.css"/>
    <style type="text/css">
        .searchActive{
            background-color: #e8e8e8;
        }
    </style>
</head>
<body>
    <div id="secfoods">
        <div>
            <ul  class="layui-nav" style="width:1300px;margin:10px auto auto auto;">
                <div v-if="uid == null">
                    <li class="layui-nav-item"><a href="user/login.html">首页</a></li>
                    <li class="layui-nav-item"><a href="user/login.html">招牌美食</a></li>
                    <li class="layui-nav-item" style="margin-left: 70%"></li>
                    <li class="layui-nav-item" lay-unselect="">
                        <a href="user/login.html">登录</a>
                    </li>
                </div>
                <div v-else>
                    <li class="layui-nav-item"><a href="index.html">首页</a></li>
                    <li class="layui-nav-item"><a href="foods.html">招牌美食</a></li>
                    <li class="layui-nav-item" style="margin-left: 70%"></li>
                    <li class="layui-nav-item" lay-unselect="">
                        <a href="javascript:;"><img :src="avatar" class="layui-nav-img">{{username}}</a>
                        <dl class="layui-nav-child">
                            <!--                        <dd><a href="javascript:;">收藏菜单</a></dd>-->
                            <!--                        <dd><a href="javascript:;">个人中心</a></dd>-->
                            <dd><dd><a @click="destroyCookie" href="index.html">告辞</a></dd>告辞</a></dd>
                        </dl>
                    </li>
                </div>

            </ul>
        </div>
        <div style="width:1300px;margin:2% auto 2% auto;">
            <div class="layui-input-inline">
                <input type="text" id="fname" placeholder="请输入美食名" class="layui-input" style="width: 1200px"/>
            </div>

            <input type="button"  class="layui-btn" style="margin-left: 2%" @click="searchFood()" value="搜索"/>
        </div>


        <div v-if="foods == null">
            此食物不存在
        </div>
        <div v-else>
            <div id="condent">
                <div id="hotcontent"><div class="ll">
                    <div v-for="food in foods">
                        <div class="item">
                            <div class="image"><a :href="'yumFood.html?fid=' + food.fid"><img :src="food.avatar" :alt="food.name"  width="120" height="150" /></a></div>
                            <dl>
                                <dt><a :href="'yumFood.html?fid=' + food.fid">{{food.name}}</a></dt>
                                <dd>{{food.describe}}</dd>
                            </dl>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <script type="text/javascript" src="js/wap.js"></script>
    <script type="text/javascript" src="js/mtk.js"></script>
    <script type="text/javascript" src="layui/layui.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/axios.min.js"></script>
    <script type="text/javascript" src="js/vue-resource.min.js"></script>

    <script type="text/javascript">
        function GetQueryString(name)
        {
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null)return  unescape(r[2]); return null;
        }
        function getCookie(cname)
        {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i < ca.length; i++)
            {
                var c = ca[i].trim();
                if (c.indexOf(name)==0) return c.substring(name.length,c.length);
            }
            return "";
        }
        // 清除cookie
        function clearCookie(name) {
            setCookie(name, "", -1);
        }
        var vm = new Vue({
            el: '#secfoods',
            data:{
                foods : null,
                username: null,
                uid: null,
                avatar: null
            },
            created: function(){
                this.checkCookie();
                this.getFoods();
            },
            methods:{
                checkCookie:function () {
                    var cookie = document.cookie;
                    var i = getCookie("fuid");
                    var j = getCookie("fusername");
                    var k = getCookie("favatar");
                    if (i != ""){
                        this.uid = i;
                        this.username = j;
                        this.avatar = k;
                    }else {
                        alert("您请先登录......");

                    }
                },
                destroyCookie : function () {
                    clearCookie("fuid");
                    clearCookie("fusername");
                    clearCookie("favatar");
                },
                getFoods: function () {
                    var fname = decodeURI(GetQueryString("fd"), "utf-8");
                    var that = this;
                    axios.get('/foods/showByN', {
                        params:{
                            fname: fname
                        }
                    })
                        .then(function (response) {
                            that.foods = response.data
                        }).catch(function () {
                        alert("error");
                    })
                },
                searchFood:function () {
                    var fd = document.getElementById("fname").value;
                    window.location.href="search.html?fd="+encodeURI(encodeURI(fd));
                }
            }
        })
    </script>
</body>
</html>